In [1]:
import pandas as pd
from sqlalchemy import create_engine
import MySQLdb
import warnings
warnings.filterwarnings("ignore")
from config import user_name,password
import MySQLdb

In [2]:
df1=pd.read_csv("CompleteDataset.csv",encoding ='utf-8',low_memory=False)
df1.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df2=pd.read_csv("full_fifa18_data.csv",encoding ='utf-8')
df2.tail()

,ID,Name,Value (M),Position,Overall,Potential,full_name,club,special,age,...,prefers_lcb,prefers_gk,foot_Left,foot_Right,att_rate_High,att_rate_Low,att_rate_Medium,defend_rate_High,defend_rate_Low,defend_rate_Medium
17734,11728,B. Richardson,0.00,GK,46,46,Barry Richardson,Wycombe Wanderers,832,47,...,False,1,0,1,0,0,1,0,0,1
17735,237463,A. Kelsey,0.05,GK,46,63,Adam Kelsey,Scunthorpe United,755,17,...,False,1,0,1,0,0,1,0,0,1
17736,238813,J. Lundstram,0.06,CM,46,64,Josh Lundstram,Crewe Alexandra,1302,18,...,False,0,0,1,0,0,1,0,0,1
17737,231381,J. Young,0.06,ST,46,61,Jordan Young,Swindon Town,1194,17,...,False,0,1,0,0,0,1,0,0,1
17738,238308,L. Sackey,0.05,ST,46,64,Leslie Sackey,Scunthorpe United,1031,18,...,False,0,1,0,0,0,1,0,0,1

In [4]:
mergetable=pd.merge(df2,df1, on="ID")
mergetable.head(1)

,ID,Name_x,Value (M),Position,Overall_x,Potential_x,full_name,club,special,age,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,20801,Cristiano Ronaldo,95.5,ST,94,94,C. Ronaldo dos Santos Aveiro,Real Madrid CF,2228,32,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0

In [5]:
cols=["ID", "Name_x",'full_name','club','league','Nationality' ,'Value (M)','age','Overall_x' ,'Position', 'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
      'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing']

In [6]:
newdf=mergetable[cols].copy()
newdf.head(2)

,ID,Name_x,full_name,club,league,Nationality,Value (M),age,Overall_x,Position,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,Spanish Primera División,Portugal,95.5,32,94,ST,89,63,89,63,93,95,85,81,91,94
1,158023,L. Messi,Lionel Messi,FC Barcelona,Spanish Primera División,Argentina,105.0,30,93,RW,92,48,90,95,95,96,77,89,97,95

In [40]:
newdf=newdf.rename(columns={"ID":"FIFA_ID","Name_x":"Name","Overall_x":"Overall","club":"Club","age":"Age","league":"League"})
newdf

,FIFA_ID,Name,full_name,Club,League,Nationality,Value (M),Age,Overall,Position,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
1664,208498,M. Dabbur,Munas Dabbur,FC Red Bull Salzburg,Austrian Bundesliga,Israel,10.0,25,76,LW,78,33,80,71,78,48,50,74,78,76
1665,192537,M. Lestienne,Maxime Lestienne,Rubin Kazan,Russian Premier League,Belgium,9.0,25,76,ST,85,71,84,85,75,78,70,72,81,73
1666,159970,R. Lafrentz,Rosberto J. Lafrentz,Universidad de Chile,Chilian Primera División,Chile,6.0,29,76,CAM,78,75,72,77,71,68,61,54,77,51
1667,169216,S. Long,Shane Long,Southampton,English Premier League,Republic of Ireland,7.5,30,76,ST,84,80,73,73,75,70,70,54,73,73
1668,214955,E. Mas,Emmanuel Mas,Trabzonspor,Turkish Süper Lig,Argentina,6.0,28,76,LB,78,74,70,66,74,70,63,64,72,55

In [8]:
newdf=newdf[newdf["Overall"]>75]
newdf= newdf[~(newdf== "0").any(axis=1)]
newdf=newdf.drop_duplicates(subset='FIFA_ID', keep="last")
newdf=newdf.drop_duplicates(subset='full_name', keep="last")

newdf

,FIFA_ID,Name,full_name,Club,League,Nationality,Value (M),Age,Overall,Position,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,Spanish Primera División,Portugal,95.5,32,94,ST,89,63,89,63,93,95,85,81,91,94
1,158023,L. Messi,Lionel Messi,FC Barcelona,Spanish Primera División,Argentina,105.0,30,93,RW,92,48,90,95,95,96,77,89,97,95
2,190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,French Ligue 1,Brazil,123.0,25,92,LW,94,56,96,82,95,92,75,81,96,89
3,176580,L. Suárez,Luis Suárez,FC Barcelona,Spanish Primera División,Uruguay,97.0,30,92,ST,88,78,86,60,91,83,77,86,86,94
4,167495,M. Neuer,Manuel Neuer,FC Bayern Munich,German Bundesliga,Germany,61.0,31,92,GK,58,29,52,35,48,70,15,14,30,13
5,188545,R. Lewandowski,Robert Lewandowski,FC Bayern Munich,German Bundesliga,Poland,92.0,28,91,ST,79,80,78,80,89,87,62,77,85,91
6,167664,G. Higuaín,Gonzalo Higuaín,Juventus,Italian Serie A,Argentina,77.0,29,90,ST,78,50,75,69,85,86,68,74,84,91
7,183277,E. Hazard,Eden Hazard,Chelsea,English Premier League,Belgium,90.5,26,90,LW,93,54,93,91,92,87,80,82,93,83
8,182521,T. Kroos,Toni Kroos,Real Madrid CF,Spanish Primera División,Germany,79.0,27,90,CDM,60,60,71,69,89,85,85,85,79,76
9,155862,Sergio Ramos,Sergio Ramos García,Real Madrid CF,Spanish Primera División,Spain,52.0,31,90,CB,75,84,79,60,84,80,66,73,61,60
10,193080,De Gea,David De Gea Quintana,Manchester United,English Premier League,Spain,64.5,26,90,GK,57,38,60,43,42,64,17,21,18,13
11,177003,L. Modrić,Luka Modrić,Real Madrid CF,Spanish Primera División,Croatia,57.0,31,89,CDM,75,62,93,94,92,84,78,79,86,71
12,184941,A. Sánchez,Alexis Sánchez,Arsenal,English Premier League,Chile,67.5,28,89,RM,88,80,90,87,87,86,80,78,90,85
13,173731,G. Bale,Gareth Bale,Real Madrid CF,Spanish Primera División,Wales,69.5,27,89,RW,93,65,77,65,87,85,87,86,89,87
14,138956,G. Chiellini,Giorgio Chiellini,Juventus,Italian Serie A,Italy,38.0,32,89,CB,68,92,59,64,57,82,58,60,58,33
15,153079,S. Agüero,Sergio Agüero,Manchester City,English Premier League,Argentina,66.5,29,89,ST,90,63,86,91,89,90,70,82,89,90
16,1179,G. Buffon,Gianluigi Buffon,Juventus,Italian Serie A,Italy,4.5,39,89,GK,49,38,55,49,28,70,13,20,26,15
17,192119,T. Courtois,Thibaut Courtois,Chelsea,English Premier League,Belgium,59.0,25,89,GK,46,23,61,45,23,52,14,19,13,14
18,192985,K. De Bruyne,Kevin De Bruyne,Manchester City,English Premier League,Belgium,83.0,26,89,RM,76,68,80,75,87,84,90,83,85,83
19,164240,Thiago Silva,Thiago Emiliano da Silva,Paris Saint-Germain,French Ligue 1,Brazil,34.0,32,88,CB,70,77,74,68,80,83,60,61,68,38
20,178603,M. Hummels,Mats Hummels,FC Bayern Munich,German Bundesliga,Germany,48.0,28,88,CB,62,66,64,58,77,91,64,65,68,55
21,9014,A. Robben,Arjen Robben,FC Bayern Munich,German Bundesliga,Netherlands,36.0,33,88,RW,87,47,89,91,89,86,80,87,92,85
22,200389,J. Oblak,Jan Oblak,Atlético Madrid,Spanish Primera División,Slovenia,57.0,24,88,GK,43,34,67,49,16,55,13,13,12,11
23,188567,P. Aubameyang,Pierre-Emerick Aubameyang,Borussia Dortmund,German Bundesliga,Gabon,61.0,28,88,ST,95,43,77,70,82,84,77,78,82,88
24,183907,J. Boateng,Jérôme Boateng,FC Bayern Munich,German Bundesliga,Germany,48.0,28,88,CB,72,82,58,53,71,86,69,56,67,34
25,211110,P. Dybala,Paulo Dybala,Juventus,Italian Serie A,Argentina,79.0,23,88,ST,88,48,91,85,93,84,80,88,92,85
26,184344,L. Bonucci,Leonardo Bonucci,Milan,Italian Serie A,Italy,44.0,30,88,CB,62,82,60,52,75,84,44,56,69,39
27,182493,D. Godín,Diego Godín,Atlético Madrid,Spanish Primera División,Uruguay,40.0,31,88,CB,62,86,63,58,76,82,55,49,53,42
28,189509,Thiago,Thiago Alcântara,FC Bayern Munich,German Bundesliga,Spain,70.5,26,88,CDM,77,57,90,86,92,83,72,85,90,69
29,194765,A. Griezmann,Antoine Griezmann,Atlético Madrid,Spanish Primera División,France,75.0,26,88,LW,87,69,90,80,86,86,82,84,87,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,192613,C. Pantilimon,Costel Pantilimon,RC Deportivo de La Coruña,Spanish Primera División,Romania,4.9,30,76,GK,48,40,33,22,22,65,19,15,15,11
1640,220477,M. Caldara,Mattia Caldara,Atalanta,Italian Serie A,Italy,10.5,23,76,CB,59,72,59,70,60,73,31,20,36,34
1641,202828,F. Viviani,Federico Viviani,Ferrara (SPAL),Italian Serie A,Italy,10.0,25,76,CDM,74,60,76,78,78,67,72,74,78,58
1642,230767,Renato Sanches,Renato Júnior Luz Sanches,Swansea City,English Premier League,Portugal,12.0,19,76,CM,79,90,78,85,77,67,60,59,78,65
1643,222357,B. Embolo,Breel Embolo,FC Schalke 04,German Bundesliga,Switzerland,14.0,20,76,RW,79,63,77,73,81,76,59,65,78,74
1644,183187,V. Stocker,Valentin Stocker,Hertha BSC Berlin,German Bundesliga,Switzerland,8.0,28,76,LM,69,70,78,75,80,73,72,76,78,74
1645,210583,M. Stendera,Marc Stendera,Eintracht Frankfurt,German Bundesliga,Germany,12.0,21,76,CDM,75,59,84,89,78,65,67,83,76,72
1646,216796,F. Cartabia,Federico Cartabia,RC Deportivo de La Coruña,Spanish Primera División,Argentina,10.5,24,76,LM,81,80,79,83,78,67,75,77,81,69
1647,203213,Rodrigo Moledo,Rodrigo Modesto da Silva Moledo,Panathinaikos FC,Greek Super League,Brazil,6.0,29,76,CB,54,85,50,44,64,66,35,52,48,35
1648,205869,Jairo,Jairo Samperio Bustara,1. FSV Mainz 05,German Bundesliga,Spain,10.5,23,76,RM,87,54,84,86,75,68,72,71,80,68
1649,189225,B. Fornaroli,Bruno Fornaroli,Melbourne City,Australian A-League,Uruguay,7.5,29,76,ST,80,65,79,80,76,80,56,73,74,78
1650,192358,S. Padt,Sergio Padt,FC Groningen,Holland Eredivisie,Netherlands,6.0,27,76,GK,41,26,31,44,33,50,18,18,19,16
1651,216749,Carlos Mané,Carlos Manuel Cardoso Mané,VfB Stuttgart,German Bundesliga,Portugal,10.5,23,76,LM,88,55,90,92,74,74,69,81,80,71
1652,216816,G. Simeone,Giovanni Simeone,Fiorentina,Italian Serie A,Argentina,12.5,21,76,RM,76,44,76,63,75,75,39,69,76,78
1653,186200,F. Borini,Fabio Borini,Milan,Italian Serie A,Italy,9.0,26,76,ST,77,70,78,64,75,74,72,65,77,76
1654,183129,C. Clark,Ciaran Clark,Newcastle United,English Premier League,Republic of Ireland,7.5,27,76,CB,56,82,59,51,60,71,39,52,53,43
1655,215069,R. Rey,Rodrigo Rey,PAOK Thessaloniki,Greek Super League,Argentina,6.5,26,76,GK,55,33,43,53,23,49,18,17,20,18
1656,183346,F. Frei,Fabian Frei,1. FSV Mainz 05,German Bundesliga,Switzerland,7.5,28,76,CAM,64,61,73,68,75,75,74,71,70,68
1657,192122,Bóveda,Eneko Bóveda Altube,Athletic Club de Bilbao,Spanish Primera División,Spain,6.0,28,76,CB,73,80,69,66,76,71,80,66,65,48
1658,213432,F. Ferreyra,Facundo Ferreyra,Shakhtar Donetsk,Ukrainian Premier League,Argentina,9.5,26,76,ST,70,48,74,68,76,76,49,46,69,78
1659,202884,L. Spinazzola,Leonardo Spinazzola,Atalanta,Italian Serie A,Italy,10.5,24,76,LB,81,64,74,61,80,74,75,62,81,62
1660,212623,Santi Mina,Santiago Mina Lorenzo,Valencia CF,Spanish Primera División,Spain,11.0,21,76,RM,77,59,75,75,77,69,73,69,78,80
1661,189043,D. Brosinski,Daniel Brosinski,1. FSV Mainz 05,German Bundesliga,Germany,6.0,28,76,RB,85,71,77,76,71,68,78,80,74,54
1662,226378,R. Ábila,Ramón Ábila,Club Atlético Huracán,Argentinian Superliga,Argentina,9.0,27,76,ST,69,76,65,76,76,70,51,52,68,80
1663,186197,G. Kakuta,Gaël Kakuta,Amiens SC Football,French Ligue 1,DR Congo,8.5,26,76,RM,84,42,86,81,81,72,82,77,80,71
1664,208498,M. Dabbur,Munas Dabbur,FC Red Bull Salzburg,Austrian Bundesliga,Israel,10.0,25,76,LW,78,33,80,71,78,48,50,74,78,76
1665,192537,M. Lestienne,Maxime Lestienne,Rubin Kazan,Russian Premier League,Belgium,9.0,25,76,ST,85,71,84,85,75,78,70,72,81,73
1666,159970,R. Lafrentz,Rosberto J. Lafrentz,Universidad de Chile,Chilian Primera División,Chile,6.0,29,76,CAM,78,75,72,77,71,68,61,54,77,51
1667,169216,S. Long,Shane Long,Southampton,English Premier League,Republic of Ireland,7.5,30,76,ST,84,80,73,73,75,70,70,54,73,73
1668,214955,E. Mas,Emmanuel Mas,Trabzonspor,Turkish Süper Lig,Argentina,6.0,28,76,LB,78,74,70,66,74,70,63,64,72,55

In [9]:
countryinfo=pd.read_csv("all.csv")
countryinfo=countryinfo[["country-code","name", "region" ,"region-code"]]


countryinfo=countryinfo.rename(columns={"name":"Nationality","sub-region":"sub_region","country-code":"country_code","region-code":"region_code"})
countryinfo=countryinfo.dropna()
countryinfo["region_code"]=countryinfo["region_code"].astype(int)
countryinfo.head(5)

   country_code     Nationality   region  region_code
0             4     Afghanistan     Asia          142
1           248   Åland Islands   Europe          150
2             8         Albania   Europe          150
3            12         Algeria   Africa            2
4            16  American Samoa  Oceania            9

In [10]:

#Build League Table with unique League_ID

League_Table=pd.DataFrame()
League_Table["League_ID"]=""
League_Table["League"]=newdf["League"].unique()
League_Table = League_Table[~(League_Table== "0").any(axis=1)]
League_Table=League_Table.sort_values(by="League", ascending=True)
League_Table=League_Table.reset_index(drop=True)
League_Table["League_ID"]=League_Table.index+1
League_Table.head()

   League_ID                         League
0          1          Argentinian Superliga
1          2            Australian A-League
2          3            Austrian Bundesliga
3          4       Belgian First Division A
4          5  Campeonato Brasileiro Série A

In [11]:


#Build League Table with unique League_ID
Club_Table=pd.DataFrame()
Club_Table["Club_ID"]=""
Club_Table["Club"]=newdf["Club"]
Club_Table["League"]=newdf["League"]
Club_Table=Club_Table.drop_duplicates(subset='Club', keep="last")
Club_Table=Club_Table.sort_values(by="Club", ascending=True)
Club_Table=Club_Table.reset_index(drop=True)
Club_Table["Club_ID"]=Club_Table.index+1
Club_Table=pd.merge(Club_Table,League_Table, on="League")
Club_Table=Club_Table.drop(["League"], axis=1)
Club_Table=Club_Table.sort_values(by="Club_ID", ascending=True)
Club_Table=Club_Table.reset_index(drop=True)
Club_Table.head()

   Club_ID              Club  League_ID
0        1        1. FC Köln         14
1        2   1. FSV Mainz 05         14
2        3        AC Ajaccio         12
3        4         AS Monaco         11
4        5  AS Saint-Étienne         11

In [12]:
Key_Stats_Table= newdf[["FIFA_ID",'Overall','Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
      'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing']]
Key_Stats_Table.head()

,FIFA_ID,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,94,89,63,89,63,93,95,85,81,91,94
1,158023,93,92,48,90,95,95,96,77,89,97,95
2,190871,92,94,56,96,82,95,92,75,81,96,89
3,176580,92,88,78,86,60,91,83,77,86,86,94
4,167495,92,58,29,52,35,48,70,15,14,30,13

In [13]:
Nation_Table=newdf[["FIFA_ID","Nationality"]]
Nation_Table=pd.merge(Nation_Table,countryinfo, on="Nationality")
Nation_Table=Nation_Table.drop(["region","region_code"],axis=1)
Nation_Table=Nation_Table.reset_index(drop=True)
Nation_Table.head()

   FIFA_ID Nationality  country_code
0    20801    Portugal           620
1   120533    Portugal           620
2   218667    Portugal           620
3   212814    Portugal           620
4    20775    Portugal           620

In [14]:
Country_Table=countryinfo[["country_code","Nationality","region_code"]]
Country_Table.head()

   country_code     Nationality  region_code
0             4     Afghanistan          142
1           248   Åland Islands          150
2             8         Albania          150
3            12         Algeria            2
4            16  American Samoa            9

In [15]:
Region_Table= countryinfo[["region_code","region"]]
Region_Table=Region_Table.drop_duplicates(subset='region', keep="last")
Region_Table=Region_Table.sort_values(by="region_code", ascending=True)
Region_Table=Region_Table.reset_index(drop=True)
Region_Table.head()

   region_code    region
0            2    Africa
1            9   Oceania
2           19  Americas
3          142      Asia
4          150    Europe

In [16]:
General_Info_Table=pd.merge(newdf, Club_Table, on="Club")
COLNEED=["FIFA_ID",'Name','Age','Nationality','Value (M)' ,'Club_ID', 'League_ID','Position','Overall']
General_Info_Table=General_Info_Table[COLNEED]
General_Info_Table=General_Info_Table.sort_values(by="Overall", ascending=False)
General_Info_Table.head()

,FIFA_ID,Name,Age,Nationality,Value (M),Club_ID,League_ID,Position,Overall
0,20801,Cristiano Ronaldo,32,Portugal,95.5,169,27,ST,94
20,158023,L. Messi,30,Argentina,105.0,77,27,RW,93
63,167495,M. Neuer,31,Germany,61.0,79,14,GK,92
43,190871,Neymar,25,Brazil,123.0,157,11,LW,92
21,176580,L. Suárez,30,Uruguay,97.0,77,27,ST,92

In [17]:
Fullname_Table=newdf[["FIFA_ID","full_name"]]
Fullname_Table.head()

   FIFA_ID                     full_name
0    20801  C. Ronaldo dos Santos Aveiro
1   158023                  Lionel Messi
2   190871    Neymar da Silva Santos Jr.
3   176580                   Luis Suárez
4   167495                  Manuel Neuer

In [18]:
db = MySQLdb.connect(host="localhost",    # your host, usually localhost
                     user=f"{user_name}",         # your username
                     passwd=f"{password}",  # your password
                     use_unicode=True,
                     charset="utf8"
                     
                        )        # name of the data base
cursor = db.cursor()


PROJECT_DB="ETL_PROJECT_DB"
# Execute SQL select statement
cursor.execute(f"DROP DATABASE IF EXISTS {PROJECT_DB}")

cursor.execute(f"CREATE DATABASE IF NOT EXISTS {PROJECT_DB}")
cursor.close()
db = MySQLdb.connect(host="localhost",    # your host, usually localhost
                     user=f"{user_name}",         # your username
                     passwd=f"{password}",  # your password
                     use_unicode=True,
                     charset="utf8",
                     database=f"{PROJECT_DB}"
                        )        # name of the data base
cursor = db.cursor()

In [19]:
rds_connection_string = f"{user_name}:{password}@127.0.0.1/{PROJECT_DB}"
engine = create_engine(f'mysql://{rds_connection_string}?charset=utf8')

In [20]:
#Pandas Table to SQL making PRMIARY KEY
General_Info_Table.to_sql(name='general_info', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `general_info` ADD PRIMARY KEY (`FIFA_ID`)')

0

In [21]:
Club_Table.to_sql(name='club', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `club` ADD PRIMARY KEY (`club_id`)')

0

In [22]:
League_Table.to_sql(name='league', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `league` ADD PRIMARY KEY (`league_id`)')

0

In [23]:
Nation_Table.to_sql(name='nationality', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `nationality` ADD PRIMARY KEY (`fifa_id`)')

0

In [24]:
Country_Table.to_sql(name='country', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `country` ADD PRIMARY KEY (`country_code`)')

0

In [25]:
Region_Table.to_sql(name='region', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `region` ADD PRIMARY KEY (`region_code`)')

0

In [26]:
Key_Stats_Table.to_sql(name='key_stats', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `key_stats` ADD PRIMARY KEY (`fifa_id`)')

0

In [27]:
Fullname_Table.to_sql(name='player', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `player` ADD PRIMARY KEY (`fifa_id`)')

0

In [28]:
cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`club_id`) REFERENCES `club`(`club_id`) ON DELETE CASCADE')

cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`league_id`) REFERENCES `league`(`league_id`) ON DELETE CASCADE')

cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`fifa_id`) REFERENCES `player`(`fifa_id`)  ON DELETE CASCADE')

cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`fifa_id`) REFERENCES `key_stats`(`fifa_id`)  ON DELETE CASCADE')

1499

In [29]:
cursor.execute('ALTER TABLE `nationality` ADD FOREIGN KEY (`fifa_id`) REFERENCES `general_info`(`fifa_id`) ON DELETE CASCADE')


cursor.execute('ALTER TABLE `country` ADD FOREIGN KEY (`region_code`) REFERENCES `region`(`region_code`)  ON DELETE CASCADE')

cursor.execute('ALTER TABLE `nationality` ADD FOREIGN KEY (`country_code`) REFERENCES `country`(`country_code`)  ON DELETE CASCADE')
cursor.execute('ALTER TABLE `club` ADD FOREIGN KEY (`league_id`) REFERENCES `league`(`league_id`)')

229

In [30]:
a= pd.read_html("Web scrape/fifascrape.html")
b=a[0]
b.columns=b.iloc[0]
b=b[1:]
b=b.drop(["Team","Matches"],axis=1)
b=b.dropna()

In [31]:
b.to_sql(name='2018_stats', con=engine, if_exists='replace', index=False)

In [32]:
d=pd.read_csv("goals.csv")
d=d[d["Goals/Value"]!=0]
d=d.sort_values(by="Goals/Value", ascending=False)
d

               full_name  Goals  Value (M)  Goals/Value
8           Lionel Messi      1      105.0   105.000000
113      Kevin De Bruyne      1       83.0    83.000000
64            Toni Kroos      1       79.0    79.000000
130           Paul Pogba      1       66.5    66.500000
100    Christian Eriksen      1       65.0    65.000000
38           Luis Suárez      2       97.0    48.500000
23          Ivan Rakitić      1       48.5    48.500000
147       Raphaël Varane      1       46.5    46.500000
92            Marco Reus      1       45.0    45.000000
199            Dele Alli      1       43.0    43.000000
36         Dries Mertens      1       43.0    43.000000
192           Sadio Mané      1       39.0    39.000000
73        Ángel Di María      1       37.5    37.500000
189        Emil Forsberg      1       31.5    31.500000
68           Eden Hazard      3       90.5    30.166667
176        Samuel Umtiti      1       29.5    29.500000
41           Luka Modrić      2       57.0    28.500000
30        Jan Vertonghen      1       28.5    28.500000
119      Xherdan Shaqiri      1       28.0    28.000000
139         Granit Xhaka      1       27.5    27.500000
98         Shinji Kagawa      1       26.0    26.000000
77      Gylfi Sigurðsson      1       23.0    23.000000
24           Carlos Vela      1       22.5    22.500000
218      Andrej Kramarić      1       22.0    22.000000
115        Juan Cuadrado      1       21.5    21.500000
149          Marcos Rojo      1       21.0    21.000000
165      Michy Batshuayi      1       20.0    20.000000
125    Antoine Griezmann      4       75.0    18.750000
154       Thomas Meunier      1       18.5    18.500000
132  Grzegorz Krychowiak      1       17.5    17.500000
194        Mohamed Salah      2       32.5    16.250000
52        Edinson Cavani      3       48.5    16.166667
110        Romelu Lukaku      4       59.0    14.750000
229       Hirving Lozano      1       14.5    14.500000
163         M'Baye Niang      1       14.5    14.500000
181        Jesse Lingard      1       13.0    13.000000
186        Adnan Januzaj      1       12.5    12.500000
31          Victor Moses      1       12.5    12.500000
39     Marouane Fellaini      1       12.0    12.000000
142         Nacer Chadli      1       11.0    11.000000
183       Yussuf Poulsen      1       11.0    11.000000
57          Ivan Perišić      3       31.5    10.500000
146         Milan Badelj      1       10.5    10.500000
105           Yūya Ōsako      1       10.5    10.500000
158        Harry Maguire      1       10.5    10.500000
159       André Carrillo      1       10.5    10.500000
241        Kylian Mbappé      4       41.5    10.375000
84       Kieran Trippier      1       10.0    10.000000
151           Harry Kane      6       59.0     9.833333
85         Keisuke Honda      1        9.0     9.000000
129   Alfreð Finnbogason      1        8.0     8.000000
80    Aleksandar Kolarov      1        8.0     8.000000
58       Mario Mandžukić      3       23.5     7.833333
161          John Stones      2       14.5     7.250000
72       Gabriel Mercado      1        5.5     5.500000
148           Ahmed Musa      2       10.5     5.250000
172         Takashi Inui      2       10.0     5.000000
7      Andreas Granqvist      2        8.5     4.250000
89          Artem Dzyuba      3       10.5     3.500000
177      Denis Cheryshev      4       12.0     3.000000

In [33]:
e=pd.read_csv("timeplayed.csv")
z=[]
for x in e["time played"]:
    z.append(int(x.split(" ")[0]))
e["time played"]=z

e["Timeplayed/Value"]=e[ 'Value (M)']/e['time played']*10000
e["Timeplayed/Value"]=e["Timeplayed/Value"].apply(lambda x: '%.3f' % x)
e=e.drop_duplicates(subset="full_name", keep="last")
e

                   full_name  time played  Value (M) Timeplayed/Value
0       Stephan Lichtsteiner          267        8.5          318.352
1            Willy Caballero          180        3.0          166.667
2            Vincent Kompany          376       26.0          691.489
3          Javier Mascherano          360       10.5          291.667
4              Igor Akinfeev          510        7.5          147.059
5                Mario Gómez           88       20.0         2272.727
6             Héctor Herrera          360       14.0          388.889
7          Andreas Granqvist          450        8.5          188.889
8               Lionel Messi          360      105.0         2916.667
9              Oribe Peralta            1        4.8        48000.000
10              Lucas Biglia           54       17.5         3240.741
11       Michael Krohn-Dehli           22        6.5         2954.545
12             Valon Behrami          311        5.0          160.772
13           Karim El Ahmadi          266       11.0          413.534
14         Kasper Schmeichel          390       19.0          487.179
15            Steve Mandanda           90       12.5         1388.889
16               Gary Cahill           90       21.0         2333.333
17          Łukasz Fabiański           90        8.5          944.444
18      Jakub Błaszczykowski           45        7.0         1555.556
19                Brad Jones            0        2.1              inf
20              Manuel Neuer          270       61.0         2259.259
21           Gonzalo Higuaín          132       77.0         5833.333
22               Hugo Lloris          540       38.0          703.704
23              Ivan Rakitić          638       48.5          760.188
24               Carlos Vela          315       22.5          714.286
25                Danny Rose          203       21.0         1034.483
26        Giovani dos Santos           13       13.0        10000.000
27       Jonathan dos Santos           35       16.5         4714.286
28            Blaise Matuidi          336       28.5          848.214
29           Andrés Guardado          307       13.5          439.739
..                       ...          ...        ...              ...
212            Sardar Azmoun          270       13.5          500.000
213            Franco Armani          180        5.5          305.556
214          Youssouf Sabaly          254        9.5          374.016
215             N'Golo Kanté          595       52.5          882.353
216               Tin Jedvaj           90       10.0         1111.111
217         Marcelo Brozović          458       23.0          502.183
218          Andrej Kramarić          332       22.0          662.651
219          Youri Tielemans          175       23.5         1342.857
220              Nabil Fekir           69       28.0         4057.971
221           José Izquierdo           70       13.0         1857.143
222         Corentin Tolisso          194       30.5         1572.165
223            Matias Vecino          416       13.0          312.500
224         Andrija Živković           15       14.0         9333.333
225         Davinson Sánchez          390       21.5          551.282
226          Lucas Hernández          590       13.5          228.814
227          Erick Gutiérrez            0       11.0              inf
228            Lovre Kalinić           90        7.0          777.778
229           Hirving Lozano          317       14.5          457.413
230             Breel Embolo          134       14.0         1044.776
231  Sergej Milinković-Savić          270       20.0          740.741
232             Marcos Acuña           90       16.0         1777.778
233           Martín Campaña            0       11.0              inf
234         Presnel Kimpembe           90       12.0         1333.333
235           Kasper Dolberg           15       16.5        11000.000
236           Yoshinori Mutō           82       10.5         1280.488
237              Marko Pjaca           82       12.5         1524.390
238             Andrey Lunev            0        9.0              inf
239          Ousmane Dembélé          165       40.0         2424.242
240          Marcus Rashford          211       22.0         1042.654
241            Kylian Mbappé          534       41.5          777.154

[239 rows x 4 columns]

In [34]:
d.to_sql(name='worldcup_value/goals', con=engine, if_exists='replace', index=False)
e.to_sql(name='worldcup_value/timeplayed', con=engine, if_exists='replace', index=False)

In [39]:
cursor.execute('ALTER TABLE `player` modify  `full_name` varchar(50)')
cursor.execute('ALTER TABLE `worldcup_value/timeplayed` modify  `full_name` varchar(50)')
cursor.execute('ALTER TABLE `player` add constraint iwantunique unique(`full_name`)')
#
cursor.execute('ALTER TABLE `worldcup_value/timeplayed` ADD FOREIGN KEY (`full_name`) REFERENCES `player`(`full_name`)')

239

In [ ]:
#alter table pwlhseis add constraint uq1 unique (ae_po);